%h1 Listing videos

%table
  %thead
    %tr
      %th Title
      %th About
      %th
      %th
      %th

  %tbody
    - @video.each do |video|
      %tr
        %td= video.title
        %td= video.about
        %td= link_to 'Show', video
        %td= link_to 'Edit', edit_video_path(video)
        %td= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Video', new_video_path
