%p= "Dear #{t('app_title')},"
%p= "Could you contact me please?"

%dl
    %dt Name:
    %dd= @name
    %dt Email:
    %dd= @email
    %dt Telephone:
    %dd= @telephone
    
%p= @message

%p Thank you,
%p= @name
